.alert {
  background-color: red;
  color: #fff;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
}


.form-group {
  display: grid;
  grid-template-columns: minmax(200px, 100px) minmax(200px, 100px) minmax(200px, 100px);
  margin-bottom: 1em;
  grid-gap: 2em;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}
